<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>

    <%- include('partials/header_dashboard', { page: 'List' }) %>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        
        <%- include('partials/list/home_list') %>
        
    </main>

    <%- include('partials/modal_delete') %> 

    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>

</body>

</html>
